

img{
    width: 50px;
    height: 50px;
    filter: brightness(50);
}
a{
    text-decoration: none;
}

.welcome, .appname, .descriptions, .menu {
    text-align: center;
}

.tombol{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

/*table {*/
/*    margin: 0 auto;*/
/*    border-collapse: collapse;*/
/*    border: 2px solid lightskyblue;*/
/*}*/

/*td, th {*/
/*    !*border: 1px solid rgb(190,190,190);*!*/
/*    border: 2px solid lightskyblue;*/
/*    padding: 10px 10px;*/
/*}*/

/*th {*/
/*    background-color: lightskyblue;*/
/*    color: white;*/
/*}*/

/*td {*/
/*    text-align: center;*/
/*}*/

caption{
    margin: 20px auto;
}

.back-home{
    /*margin: 10px auto;*/
    text-align: center;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: space-around;

}

.back-home a{
    margin: 10px;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.back-home a:hover{
    background-color: crimson;
}

/*td a{*/
/*    background-color: green;*/
/*    padding: 5px;*/
/*    border-radius: 10px;*/
/*    color: white;*/
/*}*/
/*td a:hover{*/
/*    background-color: lightskyblue;*/
/*}*/
