{% extends "base.html" %}

{% block content %}
    <h2>Ini halaman Diaper Detail</h2>
    {% if diaper_data %}
    <ul>
        <li>{{ hygiene_data.tanggal|date:"j F Y" }}</li>
        <li>{{ diaper_data.bab }}</li>
        <li>{{ diaper_data.tekstur_bab }}</li>
        <li>{{ diaper_data.warna_bab }}</li>
        <li>{{ diaper_data.catatan_diaper }}</li>
    </ul>
    {% else %}
        <p>No data are available.</p>
    {% endif %}
    <li><a href="{% url 'diaper' %}">Kembali ke Halaman Diaper</a></li>
    <li><a href="{% url 'home' %}">Kembali ke HOME</a></li>
{% endblock %}