{% extends "base.html" %}

{% block content %}
    <table>
        <caption>
            Data Makan Rinjani
        </caption>
        <tr>
            <th>Tanggal catat</th>
            <th>Makanan</th>
            <th>Porsi (suap)</th>
            <th>Detail</th>
        </tr>

        <tr>
    {% if foods_data %}
    {% for data in foods_data %}
            <td>{{ data.tanggal|date:'j M Y' }}</td>
            <td>{{ data.makanan }}</td>
            <td>{{ data.porsi_suapan }}</td>
            <td><a href="{% url 'food-detail' data.id %}">detail</a></td>
    {% endfor %}
        </tr>

    {% else %}
        <tr>
            <td colspan="4">Belum ada datanya nih :(</td>
        </tr>
    </table>
    {% endif %}

    <div class="back-home">
            <a href="{% url 'home' %}">kembali ke beranda</a>
    </div>
{% endblock %}
