{% extends "base.html" %}

{% block content %}
    <table>
        <caption>
            Detail Data Makan Rinjani
        </caption>
        <tr>
            <th>Tanggal catat</th>
            <th>Makanan</th>
            <th>Porsi (suap)</th>
            <th>Durasi makan (menit)</th>
            <th>Catatan Makan</th>
        </tr>
    {% if food_data %}
        <tr>
            <td>{{ food_data.tanggal|date:'j M Y' }}</td>
            <td>{{ food_data.makanan }}</td>
            <td>{{ food_data.porsi_suapan }}</td>
            <td>{{ food_data.durasi_makan }}</td>
            <td>{{ food_data.catatan_makan }}</td>
        </tr>
    </table>

    {% else %}
        <p>No data are available.</p>
    {% endif %}

    <div class="back-home">
        <a href="{% url 'food' %}">Kembali ke Halaman Food</a>
        <a href="{% url 'home' %}">kembali ke beranda</a>
    </div>
{% endblock %}