{% extends "base.html" %}

{% block content %}
    <table>
        <caption>
            Detail Data Umum Rinjani
        </caption>
        <tr>
            <th>Tanggal catat</th>
            <th>Usia (bulan)</th>
            <th>Berat Badan (kg)</th>
            <th>Tinggi Badan (cm)</th>
            <th>Lingkar kepala (cm)</th>
            <th>Suhu Tubuh (<sup>o</sup>C)</th>
        </tr>

    {% if general_data %}
        <tr>
            <td>{{ general_data.tanggal|date:"j M Y" }}</td>
            <td>{{ general_data.usia }}</td>
            <td>{{ general_data.berat_badan }}</td>
            <td>{{ general_data.tinggi_badan }}</td>
            <td>{{ general_data.lingkar_kepala }}</td>
            <td>{{ general_data.suhu_tubuh }}</td>
        </tr>
    </table>

    {% else %}
        <p>No data are available.</p>
    {% endif %}
    <div class="back-home">
        <a href="{% url 'general' %}">Kembali ke Halaman Umum</a>
        <a href="{% url 'home' %}">kembali ke beranda</a>
    </div>
{% endblock %}