{% extends "base.html" %}

{% block content %}
    <h2>Ini halaman General</h2>
    {% if general_data %}
    <ul>
        <li>{{ general_data.tanggal|date:"j F Y" }}</li>
        <li>{{ general_data.usia }} bulan</li>
        <li>{{ general_data.berat_badan }} kg</li>
        <li>{{ general_data.lingkar_kepala }} cm</li>
        <li>{{ general_data.suhu_tubuh }} <sup>o</sup>celcius</li>
    </ul>
    {% else %}
        <p>No data are available.</p>
    {% endif %}
    <li><a href="{% url 'general' %}">Kembali ke Halaman Umum</a></li>
    <li><a href="{% url 'home' %}">Kembali ke HOME</a></li>
{% endblock %}