{% extends "base.html" %}

{% block content %}
    <table id="example" class="display">
        <thead>
        <tr>
            <th>Tanggal catat</th>
            <th>Usia (bulan)</th>
            <th>Berat Badan (kg)</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
    {% if generals_data %}
    {% for data in generals_data %}
            <td>{{ data.tanggal|date:'j M Y' }}</td>
            <td>{{ data.usia }}</td>
            <td>{{ data.berat_badan }}</td>
            <td><a href="{% url 'general-detail' data.id %}">detail</a></td>
    {% endfor %}
        </tr>

    {% else %}
        <tr>
            <td colspan="4">Belum ada datanya nih :(</td>
        </tr>
    {% endif %}
        </tbody>
    </table>

    {% include "back.html" %}
{% endblock %}




